<!doctype html>
<html>
<head>
	<title>Assignment 6 - Database Interactions and UI - Benjamin Fridkis</title>
	{{#each css}}
		<link rel="stylesheet" type="text/css" href="{{this}}"></script>
	{{/each}}
</head>
<body>
	{{{body}}}
</body>
<!--
	{{#each jsscripts}}
		<script src="{{this}}"></script>
	{{/each}}
-->
</html>